* {
    padding: 0;
    margin: 0;
} 

body {
background: #555;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 18px;
color: #333333;;
}

img { border: none; }
a { color: #D60501; text-decoration: none; }
a:hover { text-decoration: underline; color : #000; }

#wrap {
margin: 20px auto 10px auto;
width: 900px;
}

#header { 
padding: 20px 10px 20px 5px;
}
#header h1 {
font-size: 28px;
font-weight: 300;
letter-spacing: -1px;
padding: 12px 0 10px 10px;
}
#header h1 a {
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #fff;
text-decoration: none;
}
#header h2 {
color: #ccc;
font-size: 15px;
font-weight: 600;
padding: 3px 0 0 11px;
letter-spacing: 0px;
line-height: 14px;
}

#menu {
height: 30px;
line-height: 30px;
background: #3E92EA url(images/menu.jpg) no-repeat;
text-transform: uppercase;
}
#menu ul {
padding-left: 20px;
list-style-type: none;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
color: #eee;
padding: 5px 10px;
text-decoration: none;
font-weight: 200;
font-size: 16px;
letter-spacing: 0px;
}
#menu ul li a:hover {
color: #fff;
text-decoration: underline;
}

#content {
background: #555 url(images/content.jpg) repeat-y;
padding: 20px 30px;
}

.right {
width: 640px;
float: right;
text-align: justify;
padding: 5px 5px 0px 0px;
}
.right h2 {
color: #FF4800;
font-size: 20px;
letter-spacing: -1px;
font-weight: 100;
padding : 5px 10px 10px 0;
}

.left {
width: 170px;
float: left;
padding: 0px;
border-right: 1px solid #bbb;
font-size: 14px;
font-weight: 100;
}
.left ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
line-height: 24px;
}
.left h2 {
height: 30px;
font-size: 14px;
color: #666;
line-height: 30px;
font-weight: 200;
}
.left a { text-decoration: underline; 

}

#top {
background: #555 url(images/top.jpg) no-repeat;
padding: 5px 0;
}
#bottom {
background: #555 url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}
#footer {
text-align: center;
color: #eee;
font-size: 11px;
padding: 10px;
}